## General rules

# NPM packages
npm-debug.log
node_modules

# NuGet packages
packages

# User-specific files
*.suo
*.user

# Visual Studio
.vs/
UpgradeLog.htm

# Others
.DS_Store
~$*
Thumbs.db

## Project specific rules

# AngularClient
AngularClient/dist
AngularClient/out-tsc

#AngularClient/e2e/*.js
#AngularClient/e2e/*.map

AngularClient/src/index-*.html

AngularClient/src/settings/*
!AngularClient/src/settings/settings.ts
