@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($brand-palette);
$app-warning: mat-palette($mat-blue-grey);

// Custom color variables
$primary: mat-color($app-primary);
